* {
  font-family: 'Roboto';
}

body, html {
  height: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* .container div {
  border: 1px solid black;
} */

.sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: rgb(0, 153, 255);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  justify-items: center;
  color: white;
  row-gap: 50px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  display: grid;
  font-weight: bold;
  font-size: 20px;
  row-gap: 8px;
}

.navigation {
  display: grid;
  grid-template-rows: 200px 150px;
  align-items: start;
  row-gap: 50px;
}

.header {
  grid-column: 2;
  background-color: white;
}

.main-content {
  grid-column: 2;
  background-color: rgb(189, 189, 192);
}